/* Main Section */
main {
  width: 100vw;
  flex: 1;
}

.main_container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

/* Attraction Slider & Schedule section */
.slider_schedule_container {
  width: 100%;
  height: 100%;
  margin: 40px auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 35px;
}

/* Attraction Slider */
.slides_wrapper {

  width: 100%;
  height: 400px;
  background-color: #757575;
}

/* Schedule Section */
.schedule_container {
  
  width: 100%;
  height: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}

.schedule_title {
  flex: 1;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: var(--gray70);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.schedule_box {
  flex: 1;
  width: 100%;
  height: 100%;
}

.schedule_form {
  width: 100%;
  height: 100%;
  padding: 20px 20px 40px;
  background-color: var(--gray20);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.schedule_form_title, .schedule_form_label{
  font-weight: 600;
}

.schedule_form_date {
  position: relative;
}

.schedule_form_date input {
  width: 193px;
  height: 35px;
  border: none;
  padding: 5px;
  padding-left: 8px;
  position: relative;
}

/* Date Selector */
.schedule_form_date input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    z-index: 3;
    right: 8px;
    width: 24px;
    height: 24px;
}

.date_icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  z-index: 1;
}

.schedule_form_time {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Time Selector */
.schedule_form_time input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: var(--light);
  position: relative;
}

.schedule_form_time input[type="radio"]:checked {
  position: relative; 
}

.schedule_form_time input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px; /* 小圓圈的大小 */
  height: 18px;
  background-color: var(--cyan70); /* 大圓圈的背景顏色 */
  border-radius: 50%;
}

.schedule_form_time label {
  margin-left: 5px;
  margin-right: 20px;
}

.schedule_form_label {
  display: inline-block;
  margin-right: 10px;
}

.schedule_form_price {
  margin-left: 10px;
  font-weight: 400;
}

.schedule_form_button {
  background-color: var(--cyan70);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--light);
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  margin-top: 10px;
  cursor: pointer;
}

/* Divide Line */
.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: var(--gray20);
}

/* Attraction Profile Section */
.attraction_info_container {
  width: 100%;
  margin: 40px auto;
  margin-bottom: ;
  padding: 15px 15px 80px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.attraction_info_text {
  line-height: 23px;
  font-weight: 400;
}

.bold {
  font-weight: 600;
  line-height: 23px;
}


/* Skeleton Loading */
.loading {
  background-color: #dedede;
  z-index: 10;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1.2s linear infinite;
}

/* .skeleton, 
.loading,
.attraction_info_container.skeleton {
  display: none;
} */

.schedule_container.skeleton {
  display: block;
}

.schedule_title.loading {
  width: 30%;
  height: 35px;
  margin-bottom: 30px;
}

.schedule_profile.loading {
  width: 50%;
  height: 20px;
  margin-bottom: 40px;
}

.schedule_box.loading {
  height: 250px;
  border-radius: 5px;
}

.attraction_info_text.loading {
  width: 80%;
  margin-bottom: 5px;
}

.attraction_info_container.skeleton {
  gap: 5px;
}

.attraction_info_text.loading:last-child {
  width: 40%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}

/* Footer */
.footer {
  margin-top: 0;
  width: 100%;
  height:104px;
  background-color: var(--gray50);
  bottom: 0;
  position: relative;
}

.footer_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: var(--light);
}

/* RWD */
@media (max-width: 1200px) {

  .nav .nav_container {
    margin: 0 15px;
  }

  .main_container {
    width: 100%;
  }

  .slider_schedule_container {
    margin: 40px 0;
    padding: 0 15px;
    gap: 20px;
  }

  .schedule_form {
    padding: 15px 20px 40px;
  }
}

@media (max-width: 800px) {

  .slider_schedule_container {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0;
  }

  .slides_wrapper,
  .schedule_container {
    width: 100%;
  }

  .schedule_container {
    padding: 0 15px;
  }

  .schedule_form {
    padding: 15px 20px;
  }
}