
/* Main Section */
main {
  flex: 1;
}

.main_container {
  margin: 0 auto;
  width: 1200px;
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

/* Attraction Slider & Schedule section */
.slider_schedule_container {
  width: 100%;
  height: 100%;
  margin: 40px auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 35px;
}

/* Attraction Slider */
.slides_container {
  width: 100%;
  height: 405px;
  background-color: #757575;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.slides_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  transform:  translateX(-100%);
  transition: transform 0.5s ease-in-out;
  gap: 0;
  /* overflow: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none; */
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  background-color: transparent;
  opacity: 0.7;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.slide_button.disabled {
  display: none;
}

.slide_button:hover {
  opacity: 1;
}

.slide_button img {
  width: 100%;
  height: 100%;
}

.slide_button.prev {
  left: 10px;
}

.slide_button.next {
  right: 10px;
}

.slide_pageIndicator_container {
  height: 20px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 11;
  padding: 10px;
  border-radius: 30px;
}

.pageIndicator {
  width: 7px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 12;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  /* border: 1px solid #fff; */
}

.pageIndicator.active {
  background-color: #fff;
  /* border: 1px solid #fff; */
  box-sizing: content-box;
  transform: scale(1.3);
}


.slide_button,
.slide_pageIndicator_container {
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}


.slide_button.hide,
.slide_pageIndicator_container.hide {
  opacity: 0;
  transform: translate(-50%, 20px);
}



/* Schedule Section */
.schedule_container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  gap: 25px;
}

.schedule_title {
  flex: 1;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: var(--gray70);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.schedule_box {
  width: 100%;
  height: 100%;
}

.schedule_form {
  width: 100%;
  height: 100%;
  padding: 20px 20px 40px;
  background-color: var(--gray20);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  overflow: hidden;
}

.schedule_form_title, .schedule_form_label{
  font-weight: 600;
}

.schedule_form_date {
  position: relative;
  white-space: nowrap;
}

.schedule_form_date input {
  width: 193px;
  height: 35px;
  border: none;
  padding: 5px;
  padding-left: 8px;
  position: relative;
}

/* Date Selector */
.schedule_form_date input::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    z-index: 3;
    right: 8px;
    width: 24px;
    height: 24px;
}

.date_icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  z-index: 1;
}

.schedule_form_time {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

/* Time Selector */
.schedule_form_time input {
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: var(--light);
  position: relative;
  cursor: pointer;
}

.schedule_form_time input:checked {
  position: relative; 
}

.schedule_form_time input:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px; /* 小圓圈的大小 */
  height: 18px;
  background-color: var(--cyan70); /* 大圓圈的背景顏色 */
  border-radius: 50%;
}

.schedule_form_time label {
  margin-left: 5px;
  margin-right: 20px;
}

.schedule_form_label {
  display: inline-block;
  margin-right: 10px;
}

.schedule_form_price {
  margin-left: 10px;
  font-weight: 400;

}

.schedule_form_button_container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.schedule_form_button {
  background-color: var(--cyan70);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--light);
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  cursor: pointer;
  white-space: nowrap;
}

.schedule_form_button:hover {
  background-color: var(--cyan80);
}

.schedule_form_button:active {
  transform: scale(0.98);
}

/* 成功 /錯誤訊息 */
.schedule_message {
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.schedule_message.success {
  color: #41B06E;
}

.schedule_message.fail {
  color: #cb3739;
}






/* Attraction Profile Section */
.attraction_info_container {
  width: 100%;
  margin: 40px auto;
  margin-bottom: 0;
  padding: 15px 15px 80px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
}

.attraction_info_text {
  line-height: 30px;
  font-weight: 400;
}

.bold {
  font-weight: 600;
  line-height: 23px;
}

/* Divide Line */
.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: var(--gray20);
}



/* Skeleton Loading */
.loading {
  background-color: #dedede;
  z-index: 10;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1.2s linear infinite;
}


.schedule_container.skeleton {
  display: block;
}

.schedule_title.loading {
  width: 40%;
  height: 35px;
  margin-bottom: 30px;
}

.schedule_profile.loading {
  width: 30%;
  height: 20px;
  margin-bottom: 40px;
}

.schedule_box.loading {
  height: 250px;
  border-radius: 5px;
}

.attraction_info_text.loading {
  width: 100%;
  margin-bottom: 5px;
}

.attraction_info_container.skeleton {
  gap: 5px;
}

.attraction_info_text.loading:last-child {
  width: 40%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}


/* RWD */
@media (max-width: 1200px) {

  .main_container {
    width: 100%;
    min-width: 320px;
  }

  .main_container.skeleton_container {
    width: 100%;
  }

  .slider_schedule_container {
    margin: 40px 0;
    padding: 0 15px;
    gap: 20px;
    align-items: stretch;
  }

  .slides_wrapper {
    height: 100%;
  } 

  .schedule_form_date input {
    width: auto;
  }
}

@media (max-width: 880px) {
  .slider_schedule_container {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0;
  }

  .slides_container {
    border-radius: 0;
  }

  .slides_wrapper,
  .schedule_container {
    width: 100%;
  }

  .schedule_container {
    padding: 0 15px;
    height: auto;
    gap: 20px;
    margin-top: 15px;
  }

  .schedule_form {
    padding: 30px 20px;
  }
}