/* Navigation Section */
.nav {
  border: none;
  box-shadow: none;
}

.nav.show {
  /* border-bottom: 1px solid var(--gray20); */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}


/* Hero Section */
.banner {
  /* background: url("../image/welcome.png") no-repeat center top/cover; */
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
  position: relative;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  z-index: -1;
}

.banner .banner_container {
  width: 1200px;
  padding: 10px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.banner_slogan {
  font-size: 28px;
  line-height: 24px;
  font-weight: 700;
  color: var(--gray10);
  text-shadow: 0 0 30px #AABBCC;
}

.banner_slogan_text {
  font-size: 16px;
  line-height: 13.3px;
  font-weight: 500;
  color: var(--gray10);
}

.banner_searchBar {
  width: 400px;
  height: 46px;
  position: relative;
}

.searchInput {
  width: 100%;
  height: 46px;
  padding: 15px;
  background-color: var(--light);
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 20px #AABBCC;
}

.searchInput::placeholder {
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  color: #999;
}

.searchInput:focus {
  outline: none;
}

.buttonField {
  position: absolute;
  background-color: var(--cyan70);
  color: var(--light);
  border: none;
  width: 60px;
  height: 46px;
  padding: 10px;
  top: 0;
  right: -60px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
}

.searchButton {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.searchButton:active {
  transform: scale(90%);
}

.searchButton i {
  position: absolute;
  font-size: 25px;
  height: 25px;
  color: var(--light);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* Main Section */
main {
  flex: 1; 
  padding: 40px 0;
  position: relative;
}

.main_container {
  width: 1200px;
  margin: 0 auto;
}

/* 捷運列表整體(含按鈕) */
.listBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 20px;
}

/* 捷運列表容器 */
.listBar_listContainer {
  flex-grow: 1;
  padding: 10px 10px;
  overflow: auto;
  display: flex;
  align-items: center;
}

/* 可水平捲動  隱藏捲動軸*/
.listBar_listWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE和Edge */
  scrollbar-width: none; /* FireFox */
}

/* Chrome, Safari 和 Opera */
.listBar_listWrapper::-webkit-scrollbar {
  display: none;
}

.list_item {
  padding: 8px 15px;
  flex-shrink: 0;
  cursor: pointer;
}

.list_item:hover {
  color: #000;
  font-weight: 600;
}

.list_item.active {
  background-color: var(--cyan20);
  color: var(--cyan70);
  border-radius: 30px;
}


.buttonContainer {
  width: 32px;
  height: 32px;
}

.listBarbutton {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.leftButton {
  background: url("../image/index-icon/left.svg");
}

.leftButton:hover {
  background: url("../image/index-icon/left-hover.svg");
}

.leftButton:active,
.rightButton:active {
  transform: scale(90%);
}

.rightButton {
  background: url("../image/index-icon/right.svg");
}

.rightButton:hover {
  background: url("../image/index-icon/right-hover.svg");
}

/* Attraction Section */
.attractions_container {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: 242px;
  gap: 20px;
  margin: 0 auto;
  overflow: hidden;
  justify-content: center;
}

.attraction_item {
  border: 1px solid var(--gray20);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.attraction_item:hover {
  transform: scale(1.04);
  transition: all 0.3s ease-in-out;
}

.attraction_item_image {
  position: relative;
  width: 100%;
  height: 197px;
  overflow: hidden;
  z-index: 2;
  background-position: center;
  background-size: cover;
  background-color: #dedede;
}

.attraction_item_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.attraction_item_image.loaded img {
  opacity: 1
}

.attraction_item_image img {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.loading_image {
  background-color: #dedede;
  top: 0;
  left: 0;
  width: 100%;
  height: 197px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1.2s linear infinite;
  z-index: 5;
}

.hide-skeleton {
  display: none;
}

.attraction_item_title {
  background-color: rgb(0, 0, 0, 0.6);
  color: var(--light);
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.attraction_item_info {
  width: 100%;
  height: 45px;
  padding: 10px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray50);
  position: relative;
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 錯誤訊息 */
.error {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* skeleton loading animation */
.loading {
  position: absolute;
  width: 70px;
  height: 18px;
  border-radius: 4px;
  background-color: #dedede;
  z-index: 10;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1.2s linear infinite;
}

.mrt_name {
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}

.category {
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}

/* loader */
.loader {
  display: none;
  align-self: center;
  bottom: 40px;
  margin-top: -30px;
  margin-bottom: 10px;
  transition: opacity 0.2s ease-in;
}

.loader.show {
  display: flex;
}

.circle {
  background-color: #dedede;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.6s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}
.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}


/* RWD  */
/* for Screen between 600px - 1200px */
@media (max-width: 1240px) {
  .main_container {
    width: calc(100% - 30px);
    margin: 0 auto;
  } 

  .attraction_item_image {
    height: 255px;
  }

  .attractions_container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    margin: 0 auto;
    padding: 15px;
  }

  .attraction_item:hover {
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
  }

  .banner_searchBar {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .main_container {
    width: calc(100% - 20px);
    margin: 0 auto;
  } 

  .listBar {
    padding: 5px;
  }

  .attraction_item_image {
    height: 305px;
  }

  .attractions_container {
    grid-template-columns: 1fr;
    grid-auto-rows: 350px;
    padding: 10px;
  }
}
